<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.alcohol.dao.SSTRecordMapper">

    <resultMap id="BaseResultMap" type="com.app.alcohol.entity.SSTRecord">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="block" property="block" />
        <result column="trials" property="trials" />
        <result column="incorrect" property="incorrect" />
        <result column="missed" property="missed" />
        <result column="reactionTime" property="reaction_time" />
        <result column="percentage" property="percentage" />
        <result column="createTime" property="create_time" />

    </resultMap>

    <select id="selectLatestSSTRecord"  resultType="com.app.alcohol.vo.SSTInfoVO">
        SELECT
            s.incorrect AS incorrect,
            s.missed AS missed,
            s.reaction_time AS reactionTime,
            s.percentage AS percentage

        FROM
            SST_Record s
        WHERE
            username=#{username}
        ORDER BY create_time DESC
        LIMIT #{bound}
    </select>

    <select id="getReactionTimeRankInfo"  resultType="com.app.alcohol.vo.SortElementVO">
        SELECT
            elt(INTERVAL(reaction_time, 0, 100,200,300,400,500, 600, 700, 800, 900, 1001), '0-100','100-200','200-300','300-400','400-500', '500-600', '600-700', '700-800', '800-900', '900-1000') as gap,
            	INTERVAL(reaction_time, 0, 100,200,300,400,500, 600, 700, 800, 900, 1001) as gapId,
            	round(count(username)/(select count(t.username) as totalnum from
            	(select avg(reaction_time) as reaction_time,username,create_time from SST_Record group by username,create_time) t)*100,2) as percentage
        FROM
            (select avg(reaction_time) as reaction_time,username,create_time
					from SST_Record
					group by username,create_time) s
        group by gap,gapId
        ORDER BY gapId
    </select>

    <select id="getMyReactionTimeRank"  resultType="com.app.alcohol.vo.MyRankVO">
        SELECT
            round(obj_new.reaction_time,2) as myScore,
            round(obj_new.rownum/(select count(t.username) as totalnum from (select avg(reaction_time) as reaction_time,username,create_time from SST_Record group by username,create_time) t)*100,2) as myPercentage
        FROM
            (
            SELECT
                obj.username,
                obj.reaction_time,
                obj.create_time,
                @rownum := @rownum + 1 AS num_tmp,
                @incrnum := CASE
            WHEN @rowtotal = obj.reaction_time THEN
                @incrnum
            WHEN @rowtotal := obj.reaction_time THEN
                @rownum
            END AS rownum
            FROM
                (
                 select avg(reaction_time) as reaction_time,username,create_time from SST_Record group by username,create_time order by reaction_time
                ) AS obj,
                (
                    SELECT
                        @rownum := 0 ,@rowtotal := NULL ,@incrnum := 0
                ) r
            ) AS obj_new
        where username=#{username}
        order by create_time desc
        limit 1

    </select>

    <select id="getStopSignalRankInfo"  resultType="com.app.alcohol.vo.SortElementVO">
       SELECT
            elt(INTERVAL(percentage, 0, 10,20,30,40,50, 60, 70, 80, 90, 101), '0-10','10-20','20-30','30-40','40-50', '50-60', '60-70', '70-80', '80-90', '90-100') as gap,
            	INTERVAL(percentage, 0, 10,20,30,40,50, 60, 70, 80, 90, 101) as gapId,
            	round(count(username)/(select count(t.username) as totalnum from
            	(select avg(percentage) as percentage,username,create_time from SST_Record group by username,create_time) t)*100,2) as percentage
        FROM
            (select avg(percentage) as percentage,username,create_time
					from SST_Record
					group by username,create_time) s
        group by gap,gapId
        ORDER BY gapId ;
    </select>

    <select id="getMyStopSignalRank"  resultType="com.app.alcohol.vo.MyRankVO">
        SELECT
            round(obj_new.percentage,2) as myScore,
            round(obj_new.rownum/(select count(t.username) as totalnum from
                        (select avg(percentage) as percentage,username,create_time from SST_Record group by username,create_time) t)*100,2) as myPercentage
        FROM
            (
                SELECT
                    obj.username,
                    obj.percentage,
                    obj.create_time,
                    @rownum := @rownum + 1 AS num_tmp,
                    @incrnum := CASE
                WHEN @rowtotal = obj.percentage THEN
                    @incrnum
                WHEN @rowtotal := obj.percentage THEN
                    @rownum
                END AS rownum
                FROM
                    (
                     select avg(percentage) as percentage,username,create_time from SST_Record group by username,create_time order by percentage desc
                    ) AS obj,
                    (
                        SELECT
                            @rownum := 0 ,@rowtotal := NULL ,@incrnum := 0
                    ) r
            ) AS obj_new
        where username=#{username}
        order by create_time desc
        limit 1

    </select>

    <select id="getGoStimuliRankInfo"  resultType="com.app.alcohol.vo.SortElementVO">
       SELECT
            elt(INTERVAL(percentage, 0, 10,20,30,40,50, 60, 70, 80, 90, 101), '0-10','10-20','20-30','30-40','40-50', '50-60', '60-70', '70-80', '80-90', '90-100') as gap,
            	INTERVAL(percentage, 0, 10,20,30,40,50, 60, 70, 80, 90, 101) as gapId,
            	round(count(username)/(select count(t.username) as totalnum from
            	(select avg((incorrect+missed)/(trials*3/4)*100) as percentage,username,create_time from SST_Record group by username,create_time) t)*100,2) as percentage
        FROM
            (select avg((incorrect+missed)/(trials*3/4)*100) as percentage,username,create_time
					from SST_Record
					group by username,create_time) s
        group by gap,gapId
        ORDER BY gapId ;
    </select>

    <select id="getMyGoStimuliRank"  resultType="com.app.alcohol.vo.MyRankVO">
        SELECT
            round(obj_new.percentage,2) as myScore,
            round(obj_new.rownum/(select count(t.username) as totalnum from
                        (select avg((incorrect+missed)/(trials*3/4)*100) as percentage,username,create_time from SST_Record group by username,create_time) t)*100,2) as myPercentage
        FROM
            (
                SELECT
                    obj.username,
                    obj.percentage,
                    obj.create_time,
                    @rownum := @rownum + 1 AS num_tmp,
                    @incrnum := CASE
                WHEN @rowtotal = obj.percentage THEN
                    @incrnum
                WHEN @rowtotal := obj.percentage THEN
                    @rownum
                END AS rownum
                FROM
                    (
                     select avg((incorrect+missed)/(trials*3/4)*100) as percentage,username,create_time from SST_Record group by username,create_time order by percentage desc
                    ) AS obj,
                    (
                        SELECT
                            @rownum := 0 ,@rowtotal := NULL ,@incrnum := 0
                    ) r
            ) AS obj_new
        where username=#{username}
        order by create_time desc
        limit 1

    </select>





</mapper>
